 <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
      <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
          <div class="img-fill">
              <div class="text-content">
                <h6 i18n>we are ready to help you</h6>
                <h4 i18n>Financial Analysis<br>&amp; Consulting</h4>
                <p i18n>We provide financial analysis services</p>
                <a routerLink="/contact" class="filled-button">contact us</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
          <div class="img-fill">
              <div class="text-content">
                <h6 i18n>we have a solid background</h6>
                <h4 i18n>Market Analysis<br>&amp; Statistics</h4>
                <p i18n>We provide market analytics and statistics services</p>
                <a routerLink="/about" class="filled-button">learn more</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
      </div>
  </div>
  <!-- Banner Ends Here -->

  <div class="request-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 i18n>Request a call back right now ?</h4>
          <span>Our team will connect at the earliest</span>
        </div>
        <div class="col-md-4">
          <a routerLink="/contact" class="border-button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
